body {
  background-image: url(https://cdn.friendsoftheearth.uk/sites/default/files/styles/hero_image/public/media/images/wood-1209632_1920.jpg?itok=vHXmWYMr);
  background-color: lightblue;
  color: 		#00000;
  font-family: serif;
  margin: 10px;
}

div {
  padding: 10px;
}

img {
  background-color: white;
  padding: 5px;
  height: 25vh;
  width: 25vw;
  text-align: center;
}

.title {
  color: white;
  font-family: serif;
}

.carousel-inner{
  width: 40vw;
  height: 40vh;
  text-align: center;
}

.carousel-item{
  text-align: center;
}

#paragraph {
  color: 	white;
}

#paragraph2{
  color: white;
}
