body {
  background-color: lightblue;
  color: 		#00000;
  font-family: serif;
  margin: 10px;
}

div {
  padding: 10px;
}

img {
  background-color: white;
  padding: 5px;
  height: 25vh;
  width: 25vw;
  text-align: center;
}

.title {
  color: black;
}

.carousel-inner{
  width: 40vw;
  height: 40vh;
  text-align: center;
}

.carousel-item{
  text-align: center;
}

#paragraph {
  color: 	dodgerblue;
}
